apiVersion: v1
kind: Secret
metadata:
  name: notesapp-dockerhub-secret
  namespace: notesapp
data:
  .dockerconfigjson: <Add your docker config json file encoded in base64>
type: kubernetes.io/dockerconfigjson
